
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(241, 0, 60) ;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,rgb(255, 30, 86) 0%,rgb(255, 90, 126) 100% );
    color: white;
    border-radius: 8px;
    border: none;
    padding:9px 25px ;
    cursor: pointer;
}